//COLOR TEMPLATE
$blue:#3f42dd;
$orange:#ff6d00;
$gray:#ebebeb;
$black:#151515;
$black2:#3b3b3b;
$white:#fff;
//Responsive
$grid-breakpoints: (
  xs: 0,
  sm: 300px,
  md: 768px,
  lg: 992px,
  xl: 1366px,
  xxl: 1920px
);